@media(max-width:1200px) {

    .nav,
    .about__inner,
    .works__cards {
        padding: 0 20px;
    }

    .footer {
        padding: 47px 20px 55px 20px;
    }

    .about__inner {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .about__inner_right-title {
        margin-bottom: 40px;
    }

    .works__cards {
        justify-content: center;
    }
}

@media(max-width:992px) {}

@media(max-width:768px) {
    .nav {
        flex-direction: column;
    }

    .header__content_title {
        text-align: center;
    }

    .nav {
        padding: 20px;
    }
}

@media(max-width:576px) {
    .list {
        flex-direction: column;
        text-align: center;
    }

    .nav {
        padding: 20px;
    }

    .about__inner img {
        width: 100%;
    }

    .footer__icons {
        max-width: 200px;
        flex-wrap: wrap;

    }
    
}

@media(max-width:375px) {
    .footer__title{
    font-size: 31px;   
    }
    
    .works__cards img{
        width: 100%;
    }
}

@media(max-width:320px) {}